---
## <font color=#FF8181>Unit 8 - Exercises: </font>
In the following exercises, we shall be using __YahooFinancials__ to conduct analysis on historical stock prices. 
Implement the below code in the functions you have to build as part of __Tasks 1 - 2__. Make sure to explore the code to ensure you understand what each operation/method does to the underlying data.

If you have not used YahooFinancials before, please go to __Command Prompt__ and install YahooFinancials using the following command: `pip install yahoofinancials`

In [1]:
# Include code in your function:
import pandas as pd
from yahoofinancials import YahooFinancials
import numpy as np

# Note - the second date argument in .get_historical_price_data is excluded
data = YahooFinancials('AAPL').get_historical_price_data('2021-07-01', '2022-01-01', 'daily')
df = data['AAPL']['prices']
df = pd.DataFrame(df)
df = df[['formatted_date', 'high', 'low', 'close']]
df['formatted_date'] = pd.to_datetime(df['formatted_date'], format = '%Y-%m-%d')
df['Month'] = df['formatted_date'].dt.to_period('M')
display(df)

    formatted_date        high         low       close    Month
0       2021-07-01  137.330002  135.759995  137.270004  2021-07
1       2021-07-02  140.000000  137.750000  139.960007  2021-07
2       2021-07-06  143.149994  140.070007  142.020004  2021-07
3       2021-07-07  144.889999  142.660004  144.570007  2021-07
4       2021-07-08  144.059998  140.669998  143.240005  2021-07
..             ...         ...         ...         ...      ...
123     2021-12-27  180.419998  177.070007  180.330002  2021-12
124     2021-12-28  181.330002  178.529999  179.289993  2021-12
125     2021-12-29  180.630005  178.139999  179.380005  2021-12
126     2021-12-30  180.570007  178.089996  178.199997  2021-12
127     2021-12-31  179.229996  177.259995  177.570007  2021-12

[128 rows x 5 columns]

---
### <font color=#14F278> Task 1:  </font>


<font color=#14F278> **The purpose of this exercise is to obtain information on Apple stock prices for H2 2021 and calculate their minimum, maximum and average on a monthly basis. The task deliverable is producing the dataframe below:** </font>


<center>
    <div>
        <img src="..\images\aggregation_007.png"/>
    </div>
</center>



__Steps: Create a python function `agg_financials()` which does the following:__
- Scrapes historical data on Apple prices from __YahooFinancials__
- Constructs a DataFrame, containing the daily price observations for H2 2021 - columns 'high', 'low' and 'close'
- For each Month, calculates the maximum of 'high' column, minimum of 'low' column and average of 'close' column
- Stores result in a new DataFrame
- Resets Index to new DataFrame (to ensure that the Month values are in a column)
- Returns the new DataFrame

In [23]:
# Write your solution here
def agg_financials():
    from yahoofinancials import YahooFinancials
    data = YahooFinancials('AAPL').get_historical_price_data('2021-07-01', '2022-01-01', 'daily')
    df = data['AAPL']['prices']
    df = pd.DataFrame(df)
    df = df[['formatted_date', 'high', 'low', 'close']]
    df['formatted_date'] = pd.to_datetime(df['formatted_date'], format = '%Y-%m-%d')
    df['Month'] = df['formatted_date'].dt.to_period('M')
    df_group = df.groupby('Month').agg({'high':'max','low':'min','close':'mean'})
    df_group.reset_index(inplace = True)
    return df_group

agg_financials()

     Month        high         low       close
0  2021-07  150.000000  135.759995  145.139524
1  2021-08  153.490005  144.500000  148.177727
2  2021-09  157.259995  141.270004  148.306190
3  2021-10  153.169998  138.270004  145.563809
4  2021-11  165.699997  147.479996  154.255716
5  2021-12  182.130005  157.800003  173.552727

---
### <font color=#14F278> Task 2:</font>

<font color=#14F278> **Task 2 is a variation of Task 1. The purpose of this exercise is to obtain information on Apple stock prices for H2 2021 and calculate their minimum, maximum and average on a monthly basis, this time however across all price columns. In that sense, Task 2 aims to enlarge the scope of analysis from Task 1 and produce a comprehensive summary table.  The task deliverable is producing the dataframe below:** </font>


<center>
    <div>
        <img src="..\images\aggregation_008.png"/>
    </div>
</center>


__Steps: Create a python function `summary_financials()` which does the following:__
- Scrapes historical data on Apple prices from __YahooFinancials__
- Constructs a DataFrame, containing the daily price observations for H2 2021 - columns 'high', 'low' and 'close'
- For each Month, calculates min, max and mean of each of the 3 columns - 'high', 'low', 'close'
- Stores result in a new DataFrame - __Note - you will have to drop column 'formatted_date' before aggregating__
- Resets Index to new DataFrame (to ensure that the Month values are in a column)
- Returns the new DataFrame

In [53]:
# Write your solution here
def summary_financials():
    from yahoofinancials import YahooFinancials
    data = YahooFinancials('AAPL').get_historical_price_data('2021-07-01', '2022-01-01', 'daily')
    df = data['AAPL']['prices']
    df = pd.DataFrame(df)
    df = df[['formatted_date', 'high', 'low', 'close']]
    df['formatted_date'] = pd.to_datetime(df['formatted_date'], format = '%Y-%m-%d')
    df['Month'] = df['formatted_date'].dt.to_period('M')
    df.drop(columns = 'formatted_date', inplace = True)
    df_group = df.groupby('Month').agg({'high': ['min', 'max', 'mean'], 
                                        'low': ['mean'],
                                        'close': ['min','max','mean']})
    df_group.reset_index(inplace = True)
    
    return df_group

#surprisingly easy actually

summary_financials()

     Month        high                                 low       close  \
                   min         max        mean        mean         min
0  2021-07  137.330002  150.000000  146.252383  143.538571  137.270004
1  2021-08  146.699997  153.490005  149.225909  146.865454  145.520004
2  2021-09  144.380005  157.259995  149.995239  147.220475  141.500000
3  2021-10  141.399994  153.169998  146.418570  143.954761  139.139999
4  2021-11  149.429993  165.699997  155.509048  152.586190  147.869995
5  2021-12  164.199997  182.130005  175.632275  171.252727  161.839996


          max        mean
0  149.149994  145.139524
1  153.119995  148.177727
2  156.690002  148.306190
3  152.570007  145.563809
4  165.300003  154.255716
5  180.330002  173.552727

__NB__: *Solutions to these exercises are distributed separately in the form of a stand-alone unit at a later point in time. This is to ensure that consultants have had the chance to attempt the exercises autonomously, leveraging the reading materials and concept check solutions.*