---
## <font color=#FF8181>Unit 4 - Exercises: </font>

In the following exercise, we will apply the formatting techniques we covered on a real-life dataset. The dataset is stored in **bike_rental.csv** and contains daily records on bike rentals together with weather-specific information for the day.

In [1]:
import pandas as pd

In [2]:
# Data Load
filename = r'../data/bike_rental.csv'
df = pd.read_csv(filename)
display(df)

,date,day,mnth,year,season,holiday,weathersit,temp,atemp,HUMIDITY,windspeed,Rentals
0,1/1/2011,1.0,1.0,2011.0,1.0,0.0,2,14.110847,18.18125,80.5833,10.749882,331
1,1/2/2011,2.0,1.0,2011.0,1.0,0.0,2,14.902598,17.68695,69.6087,16.652113,131
2,1/3/2011,3.0,1.0,2011.0,1.0,0.0,1,999.000000,9.47025,43.7273,16.636703,120
3,1/4/2011,4.0,1.0,2011.0,1.0,0.0,1,8.200000,10.60610,59.0435,10.739832,108
4,1/5/2011,5.0,1.0,2011.0,1.0,0.0,1,9.305237,11.46350,43.6957,12.522300,82
...,...,...,...,...,...,...,...,...,...,...,...,...
728,12/27/2012,27.0,12.0,2012.0,1.0,0.0,2,10.420847,11.33210,65.2917,23.458911,247
729,12/28/2012,28.0,12.0,2012.0,1.0,0.0,2,10.386653,12.75230,59.0000,10.416557,644
730,12/29/2012,29.0,12.0,2012.0,1.0,0.0,2,10.386653,12.12000,75.2917,8.333661,159
731,12/30/2012,30.0,12.0,2012.0,1.0,0.0,1,10.489153,11.58500,48.3333,23.500518,364
732,12/31/2012,31.0,12.0,2012.0,1.0,0.0,2,8.849153,11.17435,57.7500,10.374682,439

---
### <font color=#14F278> Task 1: Create a Python function `format_bike_rentals()` which does the following: </font>
- takes the bike rentals dataframe `df` as an argument
- sets the index to be the `date` column
- drops unneccesary day, month and year columns
- renames any columns which do not follow the prevalent naming convention - all lowercase
- dedupe the dataset
- return the formatted dataset

**NB**: Ensure all formatting is conducted in-place to optimise memory usage. This, however, means that the function has **side-effects**

In [8]:
# Write your solution here
def format_bike_rentals(df):
    df.set_index('date', inplace = True)
    df.drop(columns = ['day','mnth','year'], inplace = True)
    df.rename(columns = {'HUMIDITY':'humidity', 'Rentals':'rentals'}, inplace = True)
    df.drop_duplicates(inplace = True)
    return df

format_bike_rentals(df)

,season,holiday,weathersit,temp,atemp,humidity,windspeed,rentals
date,,,,,,,,
1/1/2011,1.0,0.0,2,14.110847,18.18125,80.5833,10.749882,331
1/2/2011,1.0,0.0,2,14.902598,17.68695,69.6087,16.652113,131
1/3/2011,1.0,0.0,1,999.000000,9.47025,43.7273,16.636703,120
1/4/2011,1.0,0.0,1,8.200000,10.60610,59.0435,10.739832,108
1/5/2011,1.0,0.0,1,9.305237,11.46350,43.6957,12.522300,82
...,...,...,...,...,...,...,...,...
12/27/2012,1.0,0.0,2,10.420847,11.33210,65.2917,23.458911,247
12/28/2012,1.0,0.0,2,10.386653,12.75230,59.0000,10.416557,644
12/29/2012,1.0,0.0,2,10.386653,12.12000,75.2917,8.333661,159
12/30/2012,1.0,0.0,1,10.489153,11.58500,48.3333,23.500518,364
12/31/2012,1.0,0.0,2,8.849153,11.17435,57.7500,10.374682,439

__NB__: *Solutions to these exercises are distributed separately in the form of a stand-alone unit at a later point in time. This is to ensure that consultants have had the chance to attempt the exercises autonomously, leveraging the reading materials and concept check solutions.*